{% extends "_layout.jinja2" %}
{% block title %}ResumeX Registration{% endblock %}
{% block content %}
    {% include 'nav.jinja2' %}
    <div class="jumbotron">
        <h1>Create a ResumeX profile</h1>
    </div>
    <div class="container">
        <form action={{login_url(request, 'linkedin')}} method="post">
            <div class="row" style="text-align:center;">
                <input type="image" src="https://www.verifico.com/newimages/linkedin-button-signup.png" value="Login with LinkedIn" />
                <br /><br />
                <hr style="width: 25%;height: 5px;">
                <p class="lead">Sign up with your email address</p>
            </div>
        </form>
        <form class="form-horizontal" novalidate role="form" action={{url}} method="post">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-6 col-md-offset-3">
                        <input required data-validation-required-message="Please enter your name." autofocus="autofocus" type="text" class="form-control input-lg" id="name" name="name" placeholder="Full Name">
                        <p class="help-block"></p>
                     </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-6 col-md-offset-3">
                        <input required data-validation-required-message="Please enter your email." type="email" class="form-control input-lg" id="email" name="email" placeholder="Email">
                        <p class="help-block"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-6 col-md-offset-3">
                        <input required data-validation-required-message="Please confirm your email." data-validation-match-match="email" data-validation-match-message="Email address doesn't match." type="email" class="form-control input-lg" id="confirm" name="confirm" placeholder="Confirm Email">
                        <p class="help-block"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-6 col-md-offset-3">
                        <input requried data-validation-required-message="Please choose a password." type="password" class="form-control input-lg" id="password" name="password" placeholder="Password">
                        <p class="help-block"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-6 col-md-offset-3">
                        <input required data-validation-required-message="Please enter your location." type="text" class="form-control input-lg" id="location" name="location" placeholder="Chicago, IL">
                        <p class="help-block"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                <div class="col-sm-6 col-md-offset-3">
                    <p>Choose your interest(s)</p>
                        <label class="checkbox-inline">
                            <input data-validation-minchecked-minchecked="1" data-validation-minchecked-message="Choose at least one" type="checkbox" name="sciortech" value="">
                            Science
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="sciortech" value="">
                            Technology
                        </label>
                        <p class="help-block"></p>
                </div>
                </div>
            </div>
            <div class="row" style="text-align:center;padding-buttom:15px;">
                <p style="font-size:.75em;">By clicking on Sign up, you agree to ResumeX's <a href="/terms">terms of service</a> and <a href="/privacy">privacy policy</a></p>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-offset-3">
                    <button class="btn btn-success btn-lg btn-block" type="submit" name="commit">Sign up</button>
                </div>
            </div>
            <div class="row" style="text-align:center;padding-top:15px;">
                <p>Already have an account? <a href="/login">Log in</a></p>
            </div>
        </form>
    </div> <!-- End Container -->
{% endblock %}
